html{
    box-sizing: border-box
}

*,*::before,*::after{
    box-sizing: border-box
}
ul{
    list-style-type: none;
}
body{
    margin: 0 auto;
}

*{
    font-family: 'Montserrat', sans-serif;
}
.flex-class{
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.appear{
    background-color: #f73f3f;
    display: none;
}
.appear
.navbar{
    width: 100%;
}
.appear
.navbar
a{
    display: block;
    text-align: center;
}

.burger{
    align-self: center;
    display: none;
    width: 30%;
}
.inner{
    cursor: pointer;
}
.inner
.container
.burger
.inner
div{
    height: 3px;
    background-color: white;
    margin: 4px;
    width: 25px;
}
.navbar 
a{
    text-decoration: none !important;
    outline: none !important;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    position: relative;
    color: white;
}

.spinner_content
a{
    color: black;
    text-decoration: none;
}
.spinner_content
p:hover a{
    color: white;
}
p,span{
    font-size: 15px;
    margin: 0;
}
.text p, .img p{
    margin: 20px 0px;
}
img{
    transition: 0.3s;
    cursor: pointer
}
.header 
.inner{
    background-color: #f73f3f;
}
.header 
.content{
    background-position: right;
    background-repeat: no-repeat;
    background-size: 38%;
    
    align-items: center;
}
.content
.inner{
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0
}
.space_between{
    width: 100%;
    display: none
}
.inner
.container{
    display: flex;
    justify-content: space-between;
}
.container 
.navbar{
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    display: none;
}

.spinner{
    display: flex;
    align-items: center;
    position: relative;
}
.spinner
.spinner_content{
    background-color: #ebebeb;
    /* padding: 0px 15px; */
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index:1001;
    height: 150px;
    overflow-y: scroll;
}
.spinner
.spinner_content
p{
    padding: 7px 15px;
    cursor: pointer;
}
.spinner
.spinner_content
p:hover{
    background-color: black;
    color: white;
}
.arrow{
    height: 100%;
}
.arrow
.header{
    position: relative;
    right: 15px;
    display: flex;
    align-items: center;
    height: 100%;
}
.spinner .arrow span{
    color: white;
    padding: 0px 10px;
    font-weight: 600;
}
.img{
    text-align: center;
}
.img p{
    font-weight: 600;
    font-size: 24px;
    color: #f73f3f;
}
.active{
    background-color: black;
    color: white;
}
.text p{
    font-size: 24px !important;
    text-align: center;
    font-weight: 400;
}
.content
.buttons{
    display: flex;
    justify-content: space-between;
}
.content
.row{
    padding: 10px;
}

@media only screen and (max-width: 950px){
    .content{
        background: none !important
    }
}

@media only screen and (max-width: 800px){
    .spinner
    .spinner_content{
        left: 0px !important;
    }
    body{
        width: 100% !important
    }
    .spinner .arrow span{
        left: 0px !important;
        position: relative !important;
        /* top: 10px; */
    }
}
@media only screen and (max-width: 520px){
    .buttons{
        display: block !important;
        text-align: center;
    }
    .arrow
    .header
    img{
        position: relative;
        left: -20px !important;
    }
    
}
@media only screen and (max-width: 420px){
    .container 
    .navbar
    a{
        display: block;    
    }
    .content{
        justify-content: center ;
    }
}

***/

.topapp-sec-title{
    position:relative;
    z-index:1;
    margin-bottom:40px;
}

.topapp-sec-title .title{
    position:relative;
    font-size:18px;
    color:#373a5b;
    font-weight:500;
    z-index:1;
    margin-left:12px;
    margin-bottom:12px;
    letter-spacing:1px;
    display:inline-block;
    text-transform:capitalize;
    font-family: 'Roboto', sans-serif;
}
.topapp-sec-title .title:before{
    position:absolute;
    content:'';
    left:-13px;
    top:-7px;
    width:35px;
    height:35px;
    z-index:-1;
    border-radius:50px;
    display:inline-block;
    background-image: -ms-linear-gradient(left, #0084fd 0%, #6cd8ff 100%);
    background-image: -moz-linear-gradient(left, #0084fd 0%, #6cd8ff 100%);
    background-image: -o-linear-gradient(left, #0084fd 0%, #6cd8ff 100%);
    background-image: -webkit-linear-gradient(left, #0084fd 0%, #6cd8ff 100%);
    background-image: linear-gradient(to right, #0084fd 0%, #6cd8ff 100%);
}

.topapp-sec-title .title span{
    position:relative;
    color:#ffffff;
}

.topapp-sec-title h2{
    position:relative;
    color:#373a5b;
    font-weight:700;
    font-size:36px;
    line-height:1.4em;
    margin-top:12px;
    z-index:1;
}

.topapp-sec-title h2 span{
    position:relative;
}

.topapp-sec-title h2 span:before{
    position:absolute;
    content:'';
    left:0px;
    bottom:5px;
    width:100%;
    height:3px;
    z-index:-1;
    background-image: -ms-linear-gradient(left, #0084fd 0%, #6cd8ff 100%);
    background-image: -moz-linear-gradient(left, #0084fd 0%, #6cd8ff 100%);
    background-image: -o-linear-gradient(left, #0084fd 0%, #6cd8ff 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #0084fd), color-stop(100, #6cd8ff));
    background-image: -webkit-linear-gradient(left, #0084fd 0%, #6cd8ff 100%);
    background-image: linear-gradient(to right, #0084fd 0%, #6cd8ff 100%);
}

.topapp-sec-title .text{
    position:relative;
    font-size:16px;
    line-height:1.9em;
    color:#373a5b;
    margin-top:10px;
}

.topapp-sec-title.centered{
    text-align: center !important;
}

.topapp-sec-title.light .title{
    color:#ffffff;
}

.topapp-sec-title.light h2{
    color:#ffffff;
}

.info-list li a{
    position:relative;
    color:#373a5b;
    font-size:16px;
}
